    *{
      padding: 0px;
      margin: 0px;
      -webwit-box-sizing: border-box;
      -moz-box-sizing:border-box;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    .menu_bar {
      display:none;
    }

    header{
      width: 100%;
    }
    header nav{
      z-index:1000px;
      max-width: 1000px;
      width: 95%;
      margin: 20px auto;
    }

    header nav ul{
      list-style: none;
    }

    header nav ul li{
      display: inline-block;
    }

    header nav ul li:hover {
      background: 
    }

    header nav ul li a{
      color:#fff;
      display: block;
      text-decoration: none;
      padding: 20px;
    }

    header nav ul li a span{
      margin-right: 10px;
    }

    .ranking{
      list-style: none;

    }

    .ranking li{
      display: inline;
      margin-left: 10px;
    }

    .ranking li > i:hover{
      color: #ffffff;
    }

    .ranking li > i.active{
      color: #ffffff;
    }

    .ranking li > i{
      transition: all 0.3s;
      color: #1b1b1b;
    }


    #menu {
      text-align: center;
      margin: 20px auto;
      font-size: 1.5em;
    }

    #menu ul {
      list-style-type: none;
    }

    #menu ul li {
      width: 162px;
    }

    #menu ul li a {
      display: block;
      text-decoration: none;
      color: #fff;
      background-color: rgba(59,93,148,1);
      border: solid 1px #fff;
      padding: 8px;
      position: relative;
    }

    #menu ul li ul li a {
      width: 160px;
      padding: 8px 0px;
      border-top-color: transparent;
    }

    #menu ul li ul {
      display: none;
    }

    /* PROPIEDADES ESPECÍFICAS */

    #menu ul li ul li ul li a.primera {
      border-top-color: #fff;
    }

    #menu ul li.nivel1 { 
      float: left;
      margin-right: 1px;
    }

    #menu ul li a.nivel2 {
      color: #fff;
      z-index:2;
    }

    #menu ul li a.nivel1, #menu ul li a.nivel2 {
      display: block;
      position: relative;
      z-index:2;

    }

    /* PROPIEDAD HOVER */

    #menu ul li:hover {
      position: relative;
    }

    #menu ul li a:hover, #menu ul li:hover a.nivel1 {
      background-color: #6CC;
      color: #000;
      position: relative;
    }

    #menu ul li:hover  ul.nivel2, #menu ul li a:hover  ul.nivel2{
      display: block;
      position: absolute;
      left: 0px;
      z-index:1000;
    }

    #menu ul li ul li a:hover ul.nivel3, #menu ul li ul li:hover ul.nivel3 {
      display: block;
      position: absolute;
      left: 140px;
      top:0px;
      z-index:3000;
    }

    #menu ul li ul li a:hover {
      border-top-color: #000;
      position: relative;
    }
    section.transbox {
      margin: 'center';
      background-color: rgba(255,255,255,0.6);
      border: 1px solid black;
      filter: alpha(opacity=60);
    }