{% extends "index.html" %}

{% block contenido %}
	<h1 style="color:#8A0808">
    	{{ titulo }}
    	<small>{{ contenido }}</small>
	</h1>
	{% for receta in receta %}
	<table align="left" cellspacing="10" cellpadding="10">
		<tr>
			<td>
				<h2 align="center"><small>
					<a href="index.php?contr=RecetaController.php&id={{ receta.id_receta }}&accion=ver">{{ receta.nombre }}</a>
				</small></h2>
				<br>
				<iframe width="280" height="157" src="https://www.youtube.com/embed/{{ receta.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</td>
		</tr>
	</table>
	{% endfor %}
{% endblock %}

{% block pie %}
{% endblock %}