{% extends "index.html" %}

{% block titulo %}
Formulario
{% endblock %}

{% block img %}
{{ img }}
{% endblock %}

{% block contenido %}
    <h2 style="color:#8A0808"><b><i>
      Para cualquier consulta puedes rellenar este formulario
    </i></b></h2>
    <form action="envia.php" method="post" class="form-consulta"> 
      <label>Nombre y apellido: <span>*</span>
        <input type="text" name="nombre" placeholder="Nombre y apellido" class="campo-form" required>
      </label>
      
      <label>Email: <span>*</span>
        <input type="email" name="email" placeholder="Email" class="campo-form" required>
      </label>
      
      <label>Consulta:
        <textarea name="consulta" class="campo-form" style="margin: 2px 0px 6px; height: 150px; width: 458px;"></textarea>
      </label>

      <input type="submit" value="Enviar" class="btn-form">
    </form>
{% endblock %}