{% extends "index.html" %}

{% block login %}
{% endblock %}

{% block menu %}
<h2 align="center">{{titulo}}</h2>
{% endblock %}

{% block contenido %}

<form method="POST" action="index.php?contr=UsuariosController.php&accion=SubRegistro" class="form-consulta" enctype="multipart/form-data">
	<br>
	<p align="left"><label>Nombre:</label></p>
 		<input type="text" name="nombre" size="50" class="form-control" placeholder="Introduce tu nombre" required />
	<br>
 	<p align="left"><label>Apellidos:</label></p></p>
 		<input type="text" name="apellidos" size="50" class="form-control" placeholder="Introduce tus apellidos" required />
	<br>
	<p align="left"><label>Email:</label></p>
 		<input type="email" name="correo" size="50" class="form-control" placeholder="Introduce tu correo" required />
	<br>
 	<p align="left"><label>Nombre de usuario:</label></p>
 		<input type="text" name="login" size="50" class="form-control" placeholder="Introduce tu alias" required />
	<br>
	<p align="left"><label>Contraseña:</label></p>
 		<input type="password" name="password" size="50" class="form-control" placeholder="Introduce tu contraseña" required />
 	<br>
 	<p align="left"><label>Repite la contraseña:</label></p>
 		<input type="password" name="password2" size="50" class="form-control" placeholder="Repite tu contraseña" required />
 	<br>
 	<p class="text-danger"><b>{{ ERROR }}</b></p>
 	<br>
 	<input type="submit" name="submit" value="Enviar" />
 	<input type="reset" value="Restablecer">
 	<button><a href="index.php?contr=RecetaController.php&accion=index">Volver Atrás</a></button>
</form>
	<br>
{% endblock %}