{% extends "index.html" %}

{% block titulo %}
{{titulo}}
{% endblock %}

{% block login %}
{% endblock %}

{% block menu %}
<h2>Se ha registrado con éxito</h2>
{% endblock %}

{% block contenido %}

<br>
<br>
<a href="javascript:history.back()">Volver Atrás</a>
<a href="javascript:history.back()"><img src="img/back.png" height="3%" width="3%"></a>
<br>
<br>
{% endblock %}
{% block pie %}
{% endblock %}