{% extends 'index.html' %}

{% block titulo %}
{{ accion|capitalize }}
{% endblock %}

{% block contenido %}

<b>{{ accion|capitalize }} de {{ receta.nombre }}</b><br><br>
    <form action="index.php?contr=RecetaController.php&accion={{ accion }}" method="post" enctype="multipart/form-data" align="left" class="form-consulta">
    	<div>
    		<label for="nombre">
    			Nombre de la receta:
    		</label>
    		<input type="text" name="nombre" id="nombre" class="form-control" value="{{ receta.nombre }}">
    	</div>
        <div>
            <label for="ingredientes">
                Ingredientes de la receta:
            </label>
            <textarea name="ingredientes" style="height: 200px;" id="ingredientes" class="form-control">{{ receta.ingredientes }}</textarea>
        </div>
    	<div>
    		<label for="descripcion">
    			Descripcion de la receta:
    		</label>
    		<textarea name="descripcion" style="height: 200px;" id="descripcion" class="form-control">{{ receta.descripcion }}</textarea>
    	</div>
        <div>
            <label for="url">
                Url del vídeo:
            </label>
            <input type="text" name="url" id="url" class="form-control" value="{{ receta.url }}">
        </div>
        <div>
            <label for="imagen">
                Imagen de la receta:
            </label>
            <input type="text" name="imagen" id="imagen" class="form-control" value="{{ receta.imagen }}">
        </div>
    	<br>
    	<input type="hidden" name="id" value="{{ receta.id_receta }}">
    	<div align="center">
    		<input type="submit" name="enviar" id="enviar" class="btn-form">
    	</div>

    </form>
{% endblock %}