<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        {% block titulo %}
          Cocinaparaprincipiantes 
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <!-- CSS interno exclusivo para maquetación -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/contacform.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css" />
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v5.0"></script>
  </head>
  <body background="{% block img %}img/fondo.jpg{% endblock %}">
    <div align="center"><img src="img/Portada/cabeza.jpg"></div>
          
    <section class="container transbox">
      <header>
        {% block encabezado %}
          
        {% endblock %}
        &nbsp;
      
        {% block login %}
          <div class="addthis_inline_share_toolbox" align="right"></div>
          <a href="https://www.youtube.com/channel/UC2NwOwEoTFj43SGBEGM1iPQ?sub_confirmation=1" target="blank"><img src="img/portada/youtube.png" alt="YouTube" align="left"></a>
    <div id="wb_element_instance1" align="right" class="wb_element" style=" overflow: hidden;">
      <div style="height: 100%;"><div id="google_translate_element">
        <div class="skiptranslate goog-te-gadget" dir="ltr" style="">
          <div id=":0.targetLanguage" class="goog-te-gadget-simple" style="white-space: nowrap;">
            <img src="https://www.google.com/images/cleardot.gif" class="goog-te-gadget-icon" alt="" style="background-image: url(&quot;https://translate.googleapis.com/translate_static/img/te_ctrl3.gif&quot;); background-position: -65px 0px;">
            <span style="vertical-align: middle;">
              <a aria-haspopup="true" class="goog-te-menu-value" href="javascript:void(0)"><span>Traductor</span></a>
            </span>
          </div>
        </div>
      <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-79160827-1'}, 'google_translate_element');
      }
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </div>
    </div>
    </div>
        {% endblock %}
        <br>
      <nav class="navbar">
        {% block menu %}
          <div id="menu">
        <ul>
            <li class="nivel1"><a href="index.php?contr=RecetaController.php&accion=index" class="nivel1">Recetas</a>
                <ul class="nivel2">
                     <li class="nivel2"><a class="nivel2" href="index.php?contr=RecetaController.php&accion=Aperitivos">Aperitivos</a>
                        <ul class="nivel3">
                            <li><a class="primera" href="index.php?contr=RecetaController.php&id=1&accion=ver">Callos</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=2&accion=ver">Caracoles con alioli</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=3&accion=ver">Caracoles con cebolla y tomate</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=4&accion=ver">Chipirones rellenos</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=5&accion=ver">Chips de boniato</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=6&accion=ver">Melón con jamón</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=7&accion=ver">Patatas Aliñadas</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=8&accion=ver">Patatas Bravas</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=9&accion=ver">Rollo de salmón ahumado</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=10&accion=ver">Tartaletas de Roquefort</a></li>
                        </ul>
                     </li>
                     <li class="nivel2"><a class="nivel2" href="index.php?contr=RecetaController.php&accion=Pplatos">Primeros Platos</a>
                        <ul class="nivel3">
                            <li><a class="primera" href="index.php?contr=RecetaController.php&accion=Legumbres">Legumbres</a></li>
                            <li><a href="index.php?contr=RecetaController.php&accion=Pasta">Pasta</a></li>
                            <li><a href="index.php?contr=RecetaController.php&accion=Patatas">Patatas</a></li>
                            <li><a href="index.php?contr=RecetaController.php&accion=Verdura">Verdura</a></li>
                            <li><a href="index.php?contr=RecetaController.php&accion=Arroz">Arroz</a></li>
                        </ul>
                     </li>
                     <li class="nivel2"><a class="nivel2" href="index.php?contr=RecetaController.php&accion=Splatos">Segundos Platos</a>
                        <ul class="nivel3">
                            <li><a class="primera" href="index.php?contr=RecetaController.php&accion=Aves">Aves</a></li>
                            <li><a href="index.php?contr=RecetaController.php&accion=Carnes">Carnes</a></li>
                            <li><a href="index.php?contr=RecetaController.php&accion=Huevos">Huevos</a></li>
                            <li><a href="index.php?contr=RecetaController.php&accion=Pescados">Pescados</a></li>
                        </ul>
                      </li>
                      <li class="nivel2"><a class="nivel2" href="index.php?contr=RecetaController.php&accion=Salsas">Salsas</a>
                        <ul class="nivel3">
                            <li><a class="primera" href="index.php?contr=RecetaController.php&id=57&accion=ver">Alioli</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=56&accion=ver">Besamel</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=58&accion=ver">Mayonesa o Mahonesa</a></li>
                        </ul>
                      </li>
                      <li class="nivel2"><a class="nivel2" href="index.php?contr=RecetaController.php&accion=Masas">Masas</a>
                        <ul class="nivel3">
                            <li><a class="primera" href="index.php?contr=RecetaController.php&id=73&accion=ver">Masa para pizza</a></li>
                            <li><a href="index.php?contr=RecetaController.php&id=74&accion=ver">Cómo rellenar la pizza</a></li>
                        </ul>
                      </li>
                      <li class="nivel2"><a class="nivel2" href="index.php?contr=RecetaController.php&accion=Postres">Postres</a>
                        <ul class="nivel3">
                          <li><a class="primera" href="index.php?contr=RecetaController.php&id=59&accion=ver">Flan Chino</a></li>
                          <li><a href="index.php?contr=RecetaController.php&id=60&accion=ver">Flan de Huevo</a></li>
                          <li><a href="index.php?contr=RecetaController.php&id=61&accion=ver">Melocotón en Almíbar</a></li>
                          <li><a href="index.php?contr=RecetaController.php&id=62&accion=ver">Palmeritas de hojaldre</a></li>
                          <li><a href="index.php?contr=RecetaController.php&id=63&accion=ver">Pastas de té</a></li>
                          <li><a href="index.php?contr=RecetaController.php&id=75&accion=ver">Pastas de coco</a></li>
                        </ul>
                      </li>
                 </ul>
            </li>
            <li class="nivel1"><a href="index.php?contr=RecetaController.php&accion=Tips" class="nivel1">Tips</a>
                <ul class="nivel2">
                  <li><a href="index.php?contr=RecetaController.php&id=64&accion=ver">Congelar Queso</a></li>
                  <li><a href="index.php?contr=RecetaController.php&id=65&accion=ver">Lavar Caracoles</a></li>
                  <li><a href="index.php?contr=RecetaController.php&id=66&accion=ver">Limpiar Chipirones</a></li>
                  <li><a href="index.php?contr=RecetaController.php&id=67&accion=ver">Desalar Bacalao</a></li>
                  <li><a href="index.php?contr=RecetaController.php&id=68&accion=ver">Esterilizar para conserva</a></li>
                  <li><a href="index.php?contr=RecetaController.php&id=69&accion=ver">Filetear una pechuga</a></li>
                  <li><a href="index.php?contr=RecetaController.php&id=70&accion=ver">Hidratar Legumbres</a></li>
                  <li><a href="index.php?contr=RecetaController.php&id=71&accion=ver">Hidratar Lentejas</a></li>
                  <li><a href="index.php?contr=RecetaController.php&id=72&accion=ver">Trocear un pollo</a></li>
                </ul>
            </li>
            <li class="nivel1"><a href="index.php?contr=RecetaController.php&accion=Presentacion" class="nivel1">Quien soy</a></li>
            <li class="nivel1"><a href="index.php?contr=UsuariosController.php&accion=Contacto" class="nivel1">Contactar</a></li>
            <li class="nivel1"><a href="https://www.youtube.com/channel/UC2NwOwEoTFj43SGBEGM1iPQ/videos" target="blank" class="nivel1">Vídeos</a>
                <ul class="nivel2">
                  <li><a href="index.php?contr=RecetaController.php&accion=Aperitivosv">Aperitivos</a></li>
                  <li><a href="index.php?contr=RecetaController.php&accion=Pplatosv">Primeros Platos</a></li>
                  <li><a href="index.php?contr=RecetaController.php&accion=Splatosv">Segundos Platos</a></li>
                  <li><a href="index.php?contr=RecetaController.php&accion=Salsasv">Salsas</a></li>
                  <li><a href="index.php?contr=RecetaController.php&accion=Masasv">Masas</a></li>
                  <li><a href="index.php?contr=RecetaController.php&accion=Postresv">Postres</a></li>
                  <li><a href="index.php?contr=RecetaController.php&accion=Tips">Cómo se hace</a></li>
                </ul>
            </li>
            <li class="nivel1"><a href="https://www.youtube.com/channel/UC2NwOwEoTFj43SGBEGM1iPQ" target="blank" class="nivel1">YouTube</a></li>
        </ul> 
    </div>
        {% endblock %}
      </nav>
      </header>
      <section>
        <div align="center">
        {% block contenido %}
          <!-- AQUI VA EL CONTENIDO -->
        {% endblock %}
        </div>
      </section>
      {% block valoracion %}
      {% endblock %}
      <footer>
        {% block pie %}
          <h6>&copy; Copyright 2019. Creado y editado por Julio Pecero.</h6>
        {% endblock %}
      </footer>      
    </section>
    <section>
    </section>    
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>