{% extends "index.html" %}

{% block encabezado %}
	<h2>
    	{{ titulo }}
	</h2>
{% endblock %}
{% block contenido %}
		<table>
			<tr>
				<td><img src="img/Portada/Portada01.jpg" width="100%" height="95%"></td>
				<td><img src="img/Portada/Portada02.jpg" width="100%" height="98%"></td>
				<td><img src="img/Portada/Portada03.jpg" width="100%" height="95%"></td>
			</tr>
			<tr>
				<td colspan="2"><img src="img/Portada/Portada04.jpg" width="100%" height="90%"></td>
				<td background="img/Portada/index.jpg" style="padding-left: 15px; vertical-align: top;" width="25%"><br>
					<div style="color:#8A0808">
						<h2><b>Sorprendente</b></h2>
						Cuando compréis la <b>leche entera o yogures</b>, leer la información nutricional.<br><br>
						Son muchas las marcas que les han quitado el calcio</td>
					</div>
			</tr>
		</table>
{% endblock %}