{% extends "index.html" %}

{% block contenido %}
	<div class="row" align="left">
		<div class="col-lg-7 col-sm-6"><img src="{{ img }}" width="98%"></div>
		<div class="col-lg-3 col-sm-6">{{ contenido1 }}</div><br>
		<div class="col-lg-3 col-sm-6">{{ contenido2 }}</div><br>
		<div class="col-lg-3 col-sm-6">{{ contenido3 }}</div><br>
		<div class="col-lg-3 col-sm-6">{{ contenido4 }}</div><br>
	</div><br>
	<div class="row" style="margin-left: 5px;">
			<div align="left">Quiero compartir desde <a href="index.php?contr=RecetaController.php&accion=index">www.cocinaparaprincipiantes.com</a> con esos jóvenes, lo que cada día voy trabajando para mis hijos, si os sirve a alguien, os brindo la oportunidad de utilizarlo.<br>
			{{ contenido5 }}</div><br>
			También hago extensivo mi agradecimiento a todos los que os habéis suscrito en mi canal de You Tube.<br>
			Un coordial saludo.
	</div>

{% endblock %}