{% extends "index.html" %}

{% block contenido %}
	<h2>
    	{{ titulo }}
    	-
    	<small>{{ contenido }}</small>
	</h2>
	{% for receta in recetas %}

		<article align="left">
				<h2>{{ receta.nombre|capitalize }}
				-
				<small>
					<a href="index.php?contr=RecetaController.php&id={{ receta.id_receta }}&accion=ver">Ver receta</a>
				</small>
				</h2>
		</article>

	{% endfor %}
{% endblock %}