{% extends "index.html" %}

{% block img %}
	{{ receta.imagen }}
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}
		<article>
			<header>
				<h1>
				{{ receta.nombre|capitalize }}
				</h1>
			</header>
			{% if session.sesion.correo == 'serpilar2015@gmail.com'%}
			<button><a href="index.php?contr=RecetaController.php&id={{ receta.id_receta }}&accion=Update">Modificar</a></button>
			<button><a href="index.php?contr=RecetaController.php&id={{ receta.id_receta }}&accion=Delete">Eliminar</a></button>
			{% endif %}
			<br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ receta.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
			<section align="left" style="padding-left: 50px; padding-right: 50px;">
				<font face="Perpetua, Courier, Garamond" SIZE=4><b>
				<div id='ingredientes'></div>
				<br>
				<div id='descripcion'></div></b>
				</font>
			</section>
		</article>
		<hr>
<div align="center">
	<a href="javascript:history.back()">Volver Atrás</a>
	<a href="javascript:history.back()"><img src="img/back.png" height="40px" width="40px"></a>
</div>
{% endblock %}

{% block valoracion %}
<hr>
<!-- <h3 align="center">
	Valora esta receta:
    Para hacer las estrellas de valoración. Pendiente de realizar funciones que guarden el registro de cada usuario en la tabla valoraciones
    <ul class="ranking">
      <li><i class="fa fa-star active"></i></li>
      <li><i class="fa fa-star active"></i></li>
      <li><i class="fa fa-star active"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>

</h3> -->
{% endblock %}
{% block js %}
  <script>
	var tmpi = document.createElement("DIV");
   tmpi.innerHTML = {{receta.ingredientes|json_encode()|raw}};
   document.getElementById('ingredientes').appendChild(tmpi);

   var tmpd = document.createElement("DIV");
   tmpd.innerHTML = {{receta.descripcion|json_encode()|raw}};
   document.getElementById('descripcion').appendChild(tmpd);
  </script>
{% endblock %}