{% extends "index.html" %}

{% block titulo %}
{{ titulo }}
{% endblock %}

{% block img %}
{{ img }}
{% endblock %}

{% block contenido %}
    <h1 style="color:#8A0808"><b>
      {{ titulo }}
      <small>{{ contenido }}</small>
  	</b></h1>
  <article><hr>
  {% for receta in receta %}
      <h3><b><a href="index.php?contr=RecetaController.php&id={{ receta.id_receta }}&accion=ver" style="color:#8A0808">{{ receta.nombre }}</a></b></h3>
      <br>
  {% endfor %}
</article>
{% endblock %}