{% extends "index.html" %}

{% block contenido %}
	<h2>
    	{{ titulo }}
	</h2>

	<i>Algún plato contendrá, chorizo, beicon, atún… pero es totalmente prescindible, con quitarlo de la receta solucionado.</i><br>

	<hr>
	<h2>Ensaladas</h2>
	<hr>
	{% for ensalada in ensaladas %}
		<section class="row" align="left">
				<h2>{{ ensalada.nombre|capitalize }}</h2>
				-
				<small>
					<a href="index.php?contr=RecetaController.php&id={{ ensalada.id_receta }}&accion=ver">Ver receta</a>
				</small><br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ ensalada.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</section>
	{% endfor %}

	<hr>
	<h2>Aperitivos</h2>
	<hr>

	{% for aperitivo in aperitivos %}
		<section class="row" align="left">
				<h2>{{ aperitivo.nombre|capitalize }}</h2>
				-
				<small>
					<a href="index.php?contr=RecetaController.php&id={{ aperitivo.id_receta }}&accion=ver">Ver receta</a>
				</small><br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ aperitivo.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</section>
	{% endfor %}

	<hr>
	<h2>Verduras</h2>
	<hr>

	{% for verdura in verduras %}
		<section class="row" align="left">
				<h2>{{ verdura.nombre|capitalize }}</h2>
				-
				<small>
					<a href="index.php?contr=RecetaController.php&id={{ verdura.id_receta }}&accion=ver">Ver receta</a>
				</small><br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ verdura.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</section>
	{% endfor %}

	<hr>
	<h2>Salsas</h2>
	<hr>

	{% for salsas in salsas %}
		<section class="row" align="left">
				<h2>{{ salsas.nombre|capitalize }}</h2>
				-
				<small>
					<a href="index.php?contr=RecetaController.php&id={{ salsas.id_receta }}&accion=ver">Ver receta</a>
				</small><br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ salsas.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</section>
	{% endfor %}

	<hr>
	<h2>Pasta</h2>
	<hr>

	{% for pasta in pasta %}
		<section class="row" align="left">
				<h2>{{ pasta.nombre|capitalize }}</h2>
				-
				<small>
					<a href="index.php?contr=RecetaController.php&id={{ pasta.id_receta }}&accion=ver">Ver receta</a>
				</small><br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ pasta.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</section>
	{% endfor %}

	<hr>
	<h2>Legumbre</h2>
	<hr>

	{% for legumbre in legumbre %}
		<section class="row" align="left">
				<h2>{{ legumbre.nombre|capitalize }}</h2>
				-
				<small>
					<a href="index.php?contr=RecetaController.php&id={{ legumbre.id_receta }}&accion=ver">Ver receta</a>
				</small><br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ legumbre.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</section>
	{% endfor %}

{% endblock %}